#avg_ {

    text-align: center;
    margin: 16px;
    padding: 10px;
    background-color: aliceblue;
    border: 1px solid blue;
    font-size: 15px;
    max-width: 410px;
    font-weight: bold;
    color: rgb(53, 77, 129);

}

#form {

    text-align: center;
    border: 2px solid;
    border-radius: 20px;
    border-color: black;
    max-width: 400px;
    padding: 20px;
    margin: 10px;
    background-color: rgba(157, 226, 250, 0.216);

}

input {
    
    width: 200px;
    height: 20px;
    margin: 1px;
    max-width: 200px;
    border: 2px solid rgb(174, 201, 253);
    border-radius: 5px;

}

label {

    color: rgb(16, 24, 58);
    margin-right: 150px;

}

button {

    margin: 15px;
    background-color: rgb(119, 162, 242);
    border: 2px;
    border-radius: 10px;
    font-size: 10px;
    width: 90px;
    height: 35px;
    max-width: 250px;
    margin-right: 131px;

}

.bt_sv {

    margin: 15px;
    background-color: rgb(119, 162, 242);
    border: 2px;
    border-radius: 10px;
    font-size: 10px;
    width: 90px;
    height: 35px;
    max-width: 250px;
    margin-right: 131px;

}

thead {
    background-color: rgba(0, 0, 0, 0.051);
}

table {

    width: 100%;
    max-width: 600px;
    margin: auto;

}

